* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   height: calc(100vh - 50px);
   width: 100%;
   position: relative;
   font-family: Arial, Helvetica, sans-serif;

}

.search-container {
   border: 2px dotted green;
   background-color: #3a3aff;
   padding: 1.2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
}

.icon {
   width: 100px;
   height: 100px;
   border: 1px solid red;
}

#searchPokemon {
   width: 80%;
   height: 2rem;
   padding: 1.7rem 5px;
   border: none;
   border-radius: 5px;
}

#searchPokemon::placeholder {
   font-family: Verdana;
   font-size: 12px;
   border: 1px solid red;
}

#search-result {
   height: calc(100vh - 70px);
   width: 100%;
   overflow-y: auto;
}

#srch-btn {
   padding: 1rem 1rem;
   border: none;
   margin: 0 2rem;
   border-radius: 15px;
   background-color: #f9f9fb;
}

footer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #3a3aff;
   /* position: absolute; */
   width: 100%;
   padding: 0 2rem;
}


.no-found {
   color: red;
   text-align: center;
   margin-top: 2rem;
}

.pokemon-card {
   padding: 1rem;
   border: 1px solid gray;
   margin: 10px 20px;
   text-align: center;
   box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
   border-radius: 10px;

}

.pokemon-info {
   display: flex;
   gap: 1rem;
   padding: 1rem;

}

.pokemon-card img {
   width: 200px;
   height: 200px;
}