   * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
   }

   body {
      height: calc(100vh - 50px);
      width: 100%;
      position: relative;
      font-family: Arial, Helvetica, sans-serif;

   }

   .search-container {
      border: 2px dotted green;
      background-color: #3a3aff;
      padding: 1.1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
   }

   .icon {
      width: 100px;
      height: 100px;

   }

   #searchPokemon {
      width: 80%;
      height: 2rem;
      padding: 1.7rem 5px;
      border: none;
      border-radius: 5px;


      /* -webkit-appearance: none;
      -webkit-box-shadow: none;
      -moz-appearance: none;
      appearance: none; */
   }

   #searchPokemon::placeholder {
      font-family: Verdana;
      font-size: 12px;

   }


   #search-result {
      flex-basis: 5rem;
      height: calc(100vh - 70px);
      width: 100%;
      overflow-y: auto;
   }

   #srch-btn {
      padding: 1rem 1rem;
      border: none;
      margin: 0 2rem;
      border-radius: 15px;
      background-color: #f9f9fb;

   }

   #srch-btn::before {
      content: 'search';
   }

   footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #3a3aff;
      /* position: absolute; */
      width: 100%;
      padding: 2rem 1.5rem;
   }

   footer p {
      margin-top: 1rem;
      color: white;
   }

   .no-found {
      color: red;
      text-align: center;
      margin-top: 2rem;
   }

   .pokemon-card {
      padding: 1rem;
      border: 1px solid gray;
      margin: 10px 20px;
      text-align: center;
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
      border-radius: 10px;

   }

   .pokemon-list-item {
      display: flex;
      border: 1px solid black;
      margin: 10px 20px;
   }

   .pokemon-info {
      display: flex;
      /* flex-direction: column; */
      gap: 1rem;
      padding: 1rem;

   }

   .pokemon-info img {
      width: 150px;
      height: 150px;
   }

   .pokemon-card img {
      width: 200px;
      height: 200px;
   }

   @media (max-width: 600px) or (max-width: 500px) {
      #search-container {
         position: relative;
         padding: 1rem;
      }

      #srch-btn {
         padding: 0.5rem;
         width: 50px;
         background-color: transparent;
         display: flex;
         justify-content: center;
         align-items: center;
         position: absolute;
         right: 1px;
         left: auto;
      }

      #srch-btn::before {
         content: url('../assets/search-icon.svg');
         background-repeat: no-repeat;
         background-position: center;
         font-size: 1.2rem;
      }

      .pokemon-info {
         flex-grow: 1;
         margin: 1rem;
         flex-basis: 250px;
      }

      .pokemon-list-item {
         flex-direction: column;
      }
   }