.pokemon-list-item {
    background-color: rgb(42, 120, 146);
    display: flex;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.pokemon-info {
    background-color: rgb(216, 219, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.more-info {
    background-color: #3a3aff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin: 10px;
}

.more-info h3 {
    overflow-wrap: break-word;
    margin-block: 10px;
    margin-inline: 5px;
    font-size: 30px;
    color: white;
}

.more-info p {
    overflow-wrap: inherit;
    margin-block: 10px;
    margin-inline: 10px;
    color: white;
}

.additional-info {

    padding: 8px 16px;
    background-color: transparent;
    text-decoration: underline;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;

}

.additional-info:hover {
    background-color: #278ee2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.pokemon-card {
    color: red;
    text-align: center;

}